MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=eduinsight
SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback
FRONTEND_AUTH_REDIRECT_URL=http://localhost:3000/login
SESSION_HTTPS_ONLY=false

# Generate a secure hexadecimal SECRET_KEY with Python:
# import secrets
# print(secrets.token_hex(32))
